//basic color palet for all scss
$colors: (
    primary: #F42929,
    secondary: #3C4BFF,
    neutral: #f3f3f3,
    tezt:rgb(255, 255, 255),
);

//here start the mobil first development
.error__body{
    background-color: map-get($map: $colors, $key:neutral );
    margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: .5fr 1fr;
  overflow: hidden;
 
  .body__image__Brjuleman__2{
    display: none;
  }
    .body__image__gift{
    display: none;
  }
  .body__bar{
    display: none;
  }
  nav{
    border: solid 1px;
    position: fixed;
    bottom: 0;
    height: 7vh;
    width: 100%;
    font-size: 3em;
    background: rgba(0, 0, 0, 0.438);
    display: flex;
    justify-content: space-around;
    z-index: +2;
    a{
        color: map-get($map: $colors, $key: neutral);
        font-size: 0.9em;
    }

}
      .body__image__Brjuleman{
          grid-column: 1/3;
          grid-row: 1;
          justify-self: end;
          right: 0;
          position: absolute;
          max-width: 425px;
          max-height: 820px;
  }
  .body__a{
      grid-column: 1/2;
      grid-row: 1;
      align-self: center;
      margin: 2vw;
      text-decoration: none;
      display: flex;
      justify-self: center;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 150px;
      border-radius: 10px;
      background-color: map-get($map: $colors, $key: primary);
      color: map-get($map: $colors, $key: tezt);
      font-size: 1.3em;
  }
}


//justifications for other devices

/* Media Queries Iphone 6/7/8 */
@media (max-height: 700px){
  .error__body{
  max-width: 550px;
}
  
}

/* Media Queries Tablet */

@media (min-width: 600px){ 
    
  
    .error__body .body__image__Brjuleman {
      width: 70%;
    }
    .error__body .body__a {
      left: 7%;
      height: 100px;
      width: 300px;
      font-size: 2.2em;
    }
  }


/* Media Queries Desktop */
  @media (min-width:1281px){
    .error__body nav{
      display: none;
    }
    .error__body .body__image__gift, .error__body .body__bar{
      display: flex;
    }
    .error__body{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
.error__body .body__bar{
  grid-column: 1/3;
  grid-row: 1;
  display: flex;
 border: solid 1px;
 width: 100%;
 height: 10vh;
 background: map-get($map: $colors, $key:tezt );
 justify-content: space-between;
}
  .error__body .body__bar .bar__left{
    display: flex;
    padding-left: 1vw;
    align-items: center;
  }
  .error__body .body__bar img{
    height: 10vh;
  }
  .error__body .body__bar .body__logud{
    font-size: 2em;
    display: flex;
    align-items: center;
    padding-right: 1vw;
  }
  .error__body .body__bar .bar__center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
  .error__body .body__bar .bar__center a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 8vh; 
    width: 30%;
    font-size: 2em;
    color: map-get($map: $colors, $key: tezt);
    text-decoration: none;
  }
  .error__body .body__bar .bar__center .center__opret,
  .error__body .body__bar .bar__center .center__seSeddel {
    background: map-get($map: $colors, $key: secondary);
  }
  .error__body .body__bar .bar__center .center__seKatalog{
    background: map-get($map: $colors, $key: primary);
  }
.error__body .body__image__Brjulemand{
  display: none;
}

    .error__body .body__image__Brjuleman__2{
      display: block;
      width: 35%;
      grid-column: 2;
      grid-row: 1;
      justify-self: start;
      bottom: -15vh;
      position: fixed;
      bottom: -5%;
      right: 10%;
      max-height: 760px;
      max-width: 467px;
    }
    .error__body .body__image__gift{
      position: absolute;
      bottom: -15vh;
      width: 40%;
      opacity: 90%;
    }
    .error__body .body__a{
      transform: scale(1.6);
      margin-top: 50vh;
      border: solid .5px black;
      font-size: 2.6em;
      
    }
  }

  //the following devices didnt need justifications
/* MANGLER FIXED BOKS (a) */


/* Media Queries Iphone 6/7/8 Plus - None */