$colors: (
    primary: #F42929,
    secondary: #3C4BFF,
    neutral: #f3f3f3,
    tezt:rgb(255, 255, 255),
);


.redhotchilipeppers{
    background-color: map-get($map: $colors, $key:neutral );
    margin: 0;
  height: 100vh;
  width: 100vw;
  section{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 70%;
      text-align: center;
      padding-top: 1vh;
      img{
          height: 25px;
          transform: rotate(180deg);
          width: 80%;
      }}
      .hris{
        position: absolute;
        bottom: 0;
        right: 0;
  }
  button{
      position: absolute;
      bottom: 100px;
      left: 20px;
      height: 60px;
      width: 150px;
      border-radius: 10px;
      background-color: map-get($map: $colors, $key: primary);
      color: map-get($map: $colors, $key: tezt);
      font-size: 1.3em;
  }
}