.error__body {
  background-color: #f3f3f3;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr 1fr;
      grid-template-columns: .5fr 1fr;
  overflow: hidden;
}

.error__body .body__image__Brjuleman__2 {
  display: none;
}

.error__body .body__image__gift {
  display: none;
}

.error__body .body__bar {
  display: none;
}

.error__body nav {
  border: solid 1px;
  position: fixed;
  bottom: 0;
  height: 7vh;
  width: 100%;
  font-size: 3em;
  background: rgba(0, 0, 0, 0.438);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: +2;
}

.error__body nav a {
  color: #f3f3f3;
  font-size: 0.9em;
}

.error__body .body__image__Brjuleman {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: end;
      justify-self: end;
  right: 0;
  position: absolute;
  max-width: 425px;
  max-height: 820px;
}

.error__body .body__a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 2vw;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 150px;
  border-radius: 10px;
  background-color: #F42929;
  color: white;
  font-size: 1.3em;
}

/* Media Queries Iphone 6/7/8 */
@media (max-height: 700px) {
  .error__body {
    max-width: 550px;
  }
}

/* Media Queries Tablet */
@media (min-width: 600px) {
  .error__body .body__image__Brjuleman {
    width: 70%;
  }
  .error__body .body__a {
    left: 7%;
    height: 100px;
    width: 300px;
    font-size: 2.2em;
  }
}

/* Media Queries Desktop */
@media (min-width: 1281px) {
  .error__body nav {
    display: none;
  }
  .error__body .body__image__gift, .error__body .body__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .error__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .error__body .body__bar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: solid 1px;
    width: 100%;
    height: 10vh;
    background: white;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .error__body .body__bar .bar__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 1vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .error__body .body__bar img {
    height: 10vh;
  }
  .error__body .body__bar .body__logud {
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 1vw;
  }
  .error__body .body__bar .bar__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
  .error__body .body__bar .bar__center a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 8vh;
    width: 30%;
    font-size: 2em;
    color: white;
    text-decoration: none;
  }
  .error__body .body__bar .bar__center .center__opret,
  .error__body .body__bar .bar__center .center__seSeddel {
    background: #3C4BFF;
  }
  .error__body .body__bar .bar__center .center__seKatalog {
    background: #F42929;
  }
  .error__body .body__image__Brjulemand {
    display: none;
  }
  .error__body .body__image__Brjuleman__2 {
    display: block;
    width: 35%;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: start;
        justify-self: start;
    bottom: -15vh;
    position: fixed;
    bottom: -5%;
    right: 10%;
    max-height: 760px;
    max-width: 467px;
  }
  .error__body .body__image__gift {
    position: absolute;
    bottom: -15vh;
    width: 40%;
    opacity: 90%;
  }
  .error__body .body__a {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    margin-top: 50vh;
    border: solid .5px black;
    font-size: 2.6em;
  }
}

/* MANGLER FIXED BOKS (a) */
/* Media Queries Iphone 6/7/8 Plus - None */
/*# sourceMappingURL=error.css.map */