$colors: (
    primary: #F42929,
    secondary: #3C4BFF,
    neutral: #f3f3f3,
    tezt:rgb(255, 255, 255),
)
;

.radish{
background-color: map-get($colors, neutral);
height: 100vh;
width: 100vw;
display: grid;
grid-template-rows: 1fr;
grid-template-columns: 1fr;
overflow: hidden;
position: fixed;
margin: 0;
nav{
    border: solid 1px;
    position: fixed;
    bottom: 0;
    height: 7vh;
    width: 100%;
    font-size: 3em;
    background: rgba(0, 0, 0, 0.438);
    display: flex;
    justify-content: space-around;
 
    // box-shadow info --->  https://generatepress.com/forums/topic/shadow-under-nav-bar/
    box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.699);
    a{
        color: map-get($map: $colors, $key: neutral);
    }

}
.logud{
    position: absolute;
}
img{
    position: absolute;
    bottom: -2%;
    right: -30%;
    z-index: -2;
    height: 70vh;
}
.groupster{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45% 0%;
    width: 100%;
    align-items: center;
    color: map-get($map:$colors, $key: tezt);
    

.make, .se, .sell{
    width: 80%;
    height: 60px;
    font-size: 1.6em;
    text-align: center;
    padding-top: 3vh;
    border: solid 0px black;
    border-radius: 10px;
    text-decoration: none;
    color: map-get($map: $colors, $key: tezt );
}

.make, .sell{
    background-color: map-get($map: $colors, $key:secondary );
    transform: rotate(-2deg);}
.se{
    background-color: map-get($map: $colors, $key: primary );
    transform: rotate(5deg);}

}}




