$colors: (
    primary: #F42929,
    secondary: #3C4BFF,
    neutral: #f3f3f3,
    tezt:rgb(255, 255, 255),
)
;

.pineapple{
    background-color: map-get($map: $colors, $key: neutral);
    margin: 0;
    
    width: 100vw;
    text-align: center;
    
    h2{
        font-size: 2em;
    }
    .thatslife{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-gap: 1vh;
        justify-self: start;
        justify-items: start;
        justify-content: start;
        text-align: start;
        padding-bottom:5vh;
        
    img{
       width: 100%;
       grid-column: 1;
       margin: 2vw;;
    }
   
      h2{
          margin: 0;
          padding: 3vh;
          justify-self: center;
      }
   
    }
    p{
        grid-column: 2;
        padding-left: 20vw;
    }

nav{
    border: solid 1px;
    position: fixed;
    bottom: 0;
    height: 7vh;
    width: 100%;
    font-size: 3em;
    background: rgba(0, 0, 0, 0.438);
    display: flex;
    justify-content: space-around;

    box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.699);
    a{
        color: map-get($map: $colors, $key: neutral);
    }

}
button{
    height: 70px;
    width: 50%;
    justify-self: center;
    background-color: map-get($map: $colors, $key: primary);
    color: map-get($map: $colors, $key:tezt);
    font-size: 1.6em;
    border-radius:10px ;
}

    .pineapple__hr {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        hr{
            border: none;
            width: 100%;
            align-self: center;
            height: 12px;
            border: 0;
            box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
        }
    }
        
    }