$colors: (
    primary: #F42929,
    secondary: #3C4BFF,
    neutral: #f3f3f3,
    tezt:rgb(255, 255, 255),
)
;

.pineapple{
    background-color: map-get($map: $colors, $key: neutral);
    margin: 0;
    
    width: 100vw;
    text-align: center;
    
    .pineapple__bar{
        display: none;
    }

    h2{
        font-size: 2em;
    }
    .thatslife{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-gap: 1vh;
        justify-self: start;
        justify-items: start;
        justify-content: start;
        text-align: start;
        padding-bottom:5vh;
        
    img{
       width: 100%;
       grid-column: 1;
       margin: 2vw;;
    }
   
      h2{
          margin: 0;
          padding: 3vh;
          justify-self: center;
      }
   
    }
    p{
        grid-column: 2;
        padding-left: 12vw;
        padding-top: 3vh;
    }

nav{
    border: solid 1px;
    position: fixed;
    bottom: 0;
    height: 7vh;
    width: 100%;
    font-size: 3em;
    background: rgba(0, 0, 0, 0.438);
    display: flex;
    justify-content: space-around;
    a{
        color: map-get($map: $colors, $key: neutral);
        font-size: 0.9em;
    }

}
button{
    height: 70px;
    width: 50%;
    justify-self: center;
    background-color: map-get($map: $colors, $key: primary);
    color: map-get($map: $colors, $key:tezt);
    font-size: 1.6em;
    border-radius:10px ;
}

    .pineapple__hr {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        hr{
            border: none;
            width: 100%;
            align-self: center;

            // hr styling ---->  https://css-tricks.com/examples/hrs/
            height: 12px;
            border: 0;
            box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
        }
    }
    }

    /* Media Queries Iphone 6/7/8 */

    @media (max-height: 700px) {
        .pineapple h2 {
            font-size: 1.8em;
          }
          .pineapple h3 {
            font-size: 1em;
          }
          .pineapple p {
            padding-left: 12vw;
            padding-top: 3vh;
            font-size: 1em;;
          }
        }

/* Media Queries Iphone 6/7/8 Plus - None */


    /* Media Queries Tablet */

    @media (min-width:600px) {
        .pineapple h2 {
          font-size: 2.5em;
        }
        .pineapple h3 {
          font-size: 2em;
        }
        .pineapple p {
          padding-left: 12vw;
          padding-top: 3vh;
          font-size: 1.8em;;
        }
        
        .pineapple nav a {
          padding-top: 1vh;
        }
      }
   

/* Media Queries Desktop */
      @media (min-width: 1281px){
        .pineapple .pineapple__bar{
          display: flex;
        }
        .pineapple nav{
          display: none;
        }
        .pineapple{
            overflow: auto;
          display: grid;
          grid-template-columns:  1fr 1fr;
        }
        .pineapple .a, .pineapple .c{
            grid-column: 1;   
        }
        .pineapple .b, .pineapple .d{
            grid-column: 2;   
        }
        .pineapple .nin, .pineapple .tru{
            grid-column: 1;
        }
        .pineapple .jam, .pineapple .hum{
            grid-column: 2;
        }
        .pineapple .a{
            grid-row: 3;
        }
        .pineapple .b{
            grid-row: 3;
        }
        .pineapple .c{
            grid-row: 5;
        }
        .pineapple .d{
            grid-row: 5;
        }
        

        .pineapple .pineapple__hr h3{
            justify-self: center;
            align-self: center;
        }
      
        .pineapple h2{
            padding-top: 7vh ;
            padding-bottom: 2vh;
            text-decoration: underline;
            font-size: 2.6em;
        }
        .pineapple .thatslife p{
            padding-left: 6vw;
            display: flex;
            align-items: center;
        }
        .pineapple .thatslife img{
            align-self: center;
        }

        .pineapple__bar{
         grid-column: 1/4;
         grid-row: 1;
          display: flex;
         border: solid 1px;
         width: 100%;
         height: 10vh;
         background: map-get($map: $colors, $key:tezt );
         justify-content: space-between;
        }
        .pineapple .pineapple__bar .bar__left{
            display: flex;
            padding-left: 1vw;
            align-items: center;
          }
          .pineapple .pineapple__bar img{
            height: 10vh;
          }
          .pineapple .pineapple__bar .logud{
            font-size: 2em;
            display: flex;
            align-items: center;
            padding-right: 1vw;
          }
          .pineapple .pineapple__bar .bar__center{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
          }
          .pineapple .pineapple__bar .bar__center a{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh; 
            width: 30%;
            font-size: 2em;
            color: map-get($map: $colors, $key: tezt);
            text-decoration: none;
          }
          .pineapple .pineapple__bar .bar__center .make,
          .pineapple .pineapple__bar .bar__center .sell {
            background: map-get($map: $colors, $key: secondary);
          }
          .pineapple .pineapple__bar .bar__center .se{
            background: map-get($map: $colors, $key: primary);
          }
          .pineapple h2{
              grid-column: 1/3;
        }}
