.listen__body {
  background-color: #f3f3f3;
  margin: 0;
  width: 100vw;
  text-align: center;
}

.listen__body .body__bar {
  display: none;
}

.listen__body h2 {
  font-size: 2em;
}

.listen__body .body__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  padding-bottom: 5vh;
}

.listen__body .body__items img {
  width: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  margin: 2vw;
}

.listen__body .body__items h2 {
  margin: 0;
  padding: 3vh;
  -ms-grid-column-align: center;
      justify-self: center;
}

.listen__body .heart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  grid-gap: 1vh;
  -ms-grid-column-align: start;
      justify-self: start;
  justify-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: start;
  padding-bottom: 5vh;
}

.listen__body .heart .fa-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
}

.listen__body p {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

.listen__body nav {
  border: solid 1px;
  position: fixed;
  bottom: 0;
  height: 7vh;
  width: 100%;
  font-size: 3em;
  background: rgba(0, 0, 0, 0.438);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.listen__body nav a {
  color: #f3f3f3;
  font-size: 0.9em;
}

.listen__body button {
  height: 70px;
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #F42929;
  color: white;
  font-size: 1.6em;
  border-radius: 10px;
}

.listen__body .body__hr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.listen__body .body__hr hr {
  border: none;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 12px;
  border: 0;
  -webkit-box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* Media Queries Iphone 6/7/8 */
@media (max-height: 700px) {
  .listen__body h2 {
    font-size: 1.8em;
  }
  .listen__body h3 {
    font-size: 1em;
  }
  .listen__body p {
    font-size: 1.2em;
  }
}

/* Media Queries Iphone 6/7/8 Plus - None */
/* Media Queries Tablet */
@media (min-width: 600px) {
  .listen__body h2 {
    font-size: 2.5em;
  }
  .listen__body h3 {
    font-size: 2em;
  }
  .listen__body p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.8em;
  }
  .listen__body nav a {
    padding-top: 1vh;
  }
  .listen__body .heart .fa-heart {
    font-size: 2em;
  }
}

/* Media Queries Desktop */
@media (min-width: 1281px) {
  .listen__body .body__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .listen__body nav {
    display: none;
  }
  .listen__body {
    overflow: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .listen__body .a, .listen__body .c {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .listen__body .b, .listen__body .d {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .listen__body .nin, .listen__body .tru {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .listen__body .jam, .listen__body .hum {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .listen__body .a {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .listen__body .b {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .listen__body .c {
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .listen__body .d {
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .listen__body .body__hr h3 {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .listen__body h2 {
    padding-top: 7vh;
    padding-bottom: 2vh;
    text-decoration: underline;
    font-size: 2.6em;
  }
  .listen__body .body__items p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .listen__body .body__items img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .body__bar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: solid 1px;
    width: 100%;
    height: 10vh;
    background: white;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .listen__body .body__bar .bar__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 1vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .listen__body .body__bar img {
    height: 10vh;
  }
  .listen__body .body__bar .bar__logud {
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 1vw;
  }
  .listen__body .body__bar .bar__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
  .listen__body .body__bar .bar__center a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 8vh;
    width: 30%;
    font-size: 2em;
    color: white;
    text-decoration: none;
  }
  .listen__body .body__bar .bar__center .center__opret,
  .listen__body .body__bar .bar__center .center__seSeddel {
    background: #3C4BFF;
  }
  .listen__body .body__bar .bar__center .center__seKatalog {
    background: #F42929;
  }
  .listen__body h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .listen__body .body__items p, .listen__body .body__hr {
    font-size: 1.2em;
  }
  .listen__body .body__items p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1vw;
  }
  .listen__body h2 {
    font-size: 4em;
  }
  .listen__body .body__items {
    -ms-grid-columns: 20% 50%;
        grid-template-columns: 20% 50%;
    font-size: 1.6em;
  }
  .listen__body .heart {
    -ms-grid-columns: 20% 50% 20%;
        grid-template-columns: 20% 50% 20%;
  }
}
/*# sourceMappingURL=listen.css.map */