$colors: (
    primary: #F42929,
    secondary: #3C4BFF,
    neutral: #f3f3f3,
    tezt:rgb(255, 255, 255),
)
;


.uffa{
justify-items: center;
background-color: map-get($colors, neutral);
display: grid;
height: 100vh;
width: 100vw;
overflow: hidden;
margin: 0;
.uffa__images{
  display: none;
}
.uffa__bar{
  display: none;
}
.logo{
    height: 30vh;
}

.the-one{
    width: 225px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

img{
    height: 100px;
}}

.uffa__hr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

  h2{
      margin: 0;
      padding: 3vh;
      justify-self: center;
  }

hr{
    border: none;
    background-color: black;
    height: 1px;
    width: 100%;
    align-self: center;
}
}

p{
    font-size: 20px;
    grid-column: 1fr;
}

}

/* Media Queries Tablet */

@media (min-width: 600px){ 
    h1 {
      font-size: 3em;
    }
    .uffa{ 
      overflow: auto;
    }
    .uffa .logo {
      height: 40vh;
    }
  
    h2 {
      font-size: 2em;
    }
    
    .uffa .the-one {
      width: 65%;
    }
   
    .uffa .uffa__hr hr {
      height: 1px;
    }
    
    .uffa p {
      font-size: 35px;
    }
  }

  @media (min-width: 1281px){

    .uffa .uffa__bar{
      display: flex;
      width: 100%;
      border: solid 1px;
      height: 10vh;
      background: map-get($map: $colors, $key: tezt);
     
    }
    .uffa .uffa__bar h3{
      font-size: 3em;
      display: flex;
      align-items: center;
      padding-left: 1vw;;
    }
    
    .uffa .uffa__bar img{
      height: 10vh;
    }
   .uffa  .logo{
    display: none;
  }

  .uffa h1{
    margin: 0;
    padding: 0;
    font-size: 5em;
  }
  .uffa h2{
    margin: 0;
    padding: 0;}

.uffa .the-one{
  flex-wrap: wrap;
  width: 20%;
}
.uffa .the-one img{
  height: 150px;
}
.uffa .uffa__hr{
  width: 30%;
}
.uffa .uffa__images{
  display: block;
}
.uffa__images__1{
position: absolute;
bottom: 0;
right: 0;
}
.uffa__images__2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40vw;
}
  }
  
  /* Media Queries Iphone 6/7/8 */

  @media (max-height: 700px){ 
    h1 {
      font-size: 1.8em;
    }
    .uffa{ 
      overflow: auto;
    }
    .uffa .logo {
      height: 25vh;
    }
  
    h2 {
      font-size: 1.5em;
    }
    
    .uffa .the-one {
      width: 65%;
    }
   
    .uffa .uffa__hr hr {
      height: 1px;
    }
    
    .uffa p {
      font-size: 20px;
    }
  }
  
    /* Media Queries Iphone 6/7/8 + */

    @media (max-height: 800px) {
    h1 {
      font-size: 1.8em;
    }
    .uffa{ 
      overflow: auto;
    }
  }

  /* Media Queries Desktop */
