//basic color palet for all scss
$colors: (
    primary: #F42929,
    secondary: #3C4BFF,
    neutral: #f3f3f3,
    tezt:rgb(255, 255, 255),
);

//mobile first development
.login__body{
justify-items: center;
background-color: map-get($colors, neutral);
display: grid;
height: 100vh;
width: 100vw;
overflow: hidden;
margin: 0;
.body__images{
  display: none;
}
.body__bar{
  display: none;
}
.body__logo{
    height: 30vh;
}

.body__login{
    width: 225px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

img{
    height: 100px;
}}

.body__hr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

  h2{
      margin: 0;
      padding: 3vh;
      justify-self: center;
  }

hr{
    border: none;
    background-color: black;
    height: 1px;
    width: 100%;
    align-self: center;
}
}

p{
    font-size: 20px;
    grid-column: 1fr;
    animation: notice 2s infinite -1s linear;
}

}

//animation for "p" opret bruger
@keyframes notice{
  0%{
      transform: rotate(0deg) scale(1);
      }
  25%{
      transform: rotate(0deg) scale(1.1);
      }
  50%{
      transform: rotate(0deg) scale(1);
      }
  75%{
      transform: rotate(0deg) scale(0.9);
      }
  100%{
      transform: rotate(0deg) scale(1);
      }
}


//scaling til andre devices
/* Media Queries Tablet */

@media (min-width: 600px){ 
    h1 {
      font-size: 3em;
    }
    .login__body{ 
      overflow: auto;
    }
    .login__body .body__logo {
      height: 40vh;
    }
  
    h2 {
      font-size: 2em;
    }
    
    .login__body .body__login {
      width: 65%;
    }
   
    .login__body .body__hr hr {
      height: 1px;
    }
    
    .login__body p {
      font-size: 35px;
    }
  }

  /* Media Queries Desktop */
  @media (min-width: 1281px){

    .login__body .body__bar{
      position: absolute;
      display: flex;
      justify-content: start;
      width: 100%;
      border: solid 1px;
      height: 10vh;
      background: map-get($map: $colors, $key: tezt);
     
    }
    .login__body .body__bar h3{
      font-size: 3em;
      display: flex;
      align-items: center;
      padding-left: 1vw;;
    }
    
    .login__body .body__bar img{
      height: 10vh;
    }
   .login__body  .body__logo{
    display: none;
  }

  .login__body h1{
    margin: 0;
    padding: 0;
    font-size: 5em;
  }
  .login__body h2{
    margin: 0;
    padding: 0;}

.login__body .body__login{
  flex-wrap: wrap;
  width: 300px;
}
.login__body .body__login img{
  height: 150px;
}
.login__body .body__hr{
  width: 30%;
}
.login__body .body__images{
  display: block;
}
.images__1{
position: absolute;
bottom: 0;
right: 0;
}
.images__2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40vw;
}
  }
  
  /* Media Queries Iphone 6/7/8 */

  @media (max-height: 700px){ 
    h1 {
      font-size: 1.8em;
    }
    .login__body{ 
      overflow: auto;
    }
    .login__body .body__logo {
      height: 25vh;
    }
  
    h2 {
      font-size: 1.5em;
    }
    
    .login__body .body__login {
      width: 65%;
    }
   
    .login__body .body__hr hr {
      height: 1px;
    }
    
    .login__body p {
      font-size: 20px;
    }
  }
  
    /* Media Queries Iphone 6/7/8 + */

    @media (max-height: 800px) {
    h1 {
      font-size: 1.8em;
    }
    .login__body{ 
      overflow: auto;
    }
  }

  
