.opret__body {
  background-color: #f3f3f3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 30% 10% 40%;
      grid-template-rows: 20% 30% 10% 40%;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-items: center;
}

.opret__body .body__image__gift__2 {
  display: none;
}

.opret__body .body__bar {
  display: none;
}

.opret__body .body__image__brman {
  display: none;
}

.opret__body h2 {
  padding-top: 7vh;
  margin: 0;
}

.opret__body .body__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.opret__body .body__input input {
  width: 80%;
  height: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 10px;
  font-size: 0.9em;
}

.opret__body p {
  font-size: 0.8em;
  text-align: center;
}

.opret__body .body__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  height: 70px;
  width: 80%;
  background-color: #F42929;
  color: white;
  font-size: 1.6em;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.opret__body .body__image__gift {
  z-index: -2;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Media Queries Iphone 6/7/8 */
@media (max-height: 700px) {
  ::-webkit-input-placeholder {
    font-size: 1.1em;
  }
  :-ms-input-placeholder {
    font-size: 1.1em;
  }
  ::-ms-input-placeholder {
    font-size: 1.1em;
  }
  ::placeholder {
    font-size: 1.1em;
  }
  .opret__body a {
    font-size: 2em;
    height: 50px;
    width: 80%;
  }
  .opret__body img {
    z-index: -2;
    position: absolute;
    bottom: 0;
    width: 80%;
  }
}

/* Media Queries Tablet */
@media (min-width: 600px) {
  .opret__body p {
    font-size: 1em;
    padding-top: 2%;
  }
  ::-webkit-input-placeholder {
    font-size: 2em;
  }
  :-ms-input-placeholder {
    font-size: 2em;
  }
  ::-ms-input-placeholder {
    font-size: 2em;
  }
  ::placeholder {
    font-size: 2em;
  }
  .opret__body a {
    font-size: 2em;
  }
  .opret__body .body__image__gift {
    z-index: -2;
    position: absolute;
    bottom: 0;
    width: 80%;
  }
}

/* Media Queries Desktop */
@media (min-width: 1281px) {
  .opret__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 20% 35% 10% 35%;
        grid-template-rows: 20% 35% 10% 35%;
  }
  .opret__body h2 {
    padding-top: 15vh;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .opret__body .body__input input, .opret__body .body__a {
    width: 50%;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .opret__body .body__input, .opret__body p {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .opret__body .body__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    border: solid 1px;
    height: 10vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: white;
  }
  .opret__body .body__bar .bar__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .opret__body .body__bar h3 {
    font-size: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1vw;
  }
  .opret__body .body__bar img {
    height: 10vh;
  }
  .opret__body .body__bar .bar__a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 1vw;
  }
  .opret__body .body__image__gift__2 {
    max-height: 760px;
    max-width: 1200px;
    left: 45%;
    z-index: -2;
    position: absolute;
    bottom: 0;
    width: 80%;
  }
  .opret__body .body__image__brman {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .opret__body .body__image__gift {
    display: none;
  }
  .opret__body .body__image__gift__2 {
    display: block;
  }
}

/* Media Queries Iphone 6/7/8 Plus - NONE*/
/*# sourceMappingURL=opret.css.map */