$colors: (
    primary: #F42929,
    secondary: #3C4BFF,
    neutral: #f3f3f3,
    tezt:rgb(255, 255, 255),
)
;


.frid{
    background-color: map-get($map: $colors, $key: neutral);
    display: grid;
    grid-template-rows: 20% 30% 10% 40%;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    justify-items: center;
    .gaver3{
      display: none;
    }

    .frid__bar{
      display: none;
    }
    .julbr{
      display: none;
    }

    h2{
        padding-top: 7vh;
        margin: 0;
    }
    .frid__input{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        input{
            width: 80%;
            height: 20%;
            align-self: center;
            border-radius: 10px;
            border: 1px solid black;
            padding-left: 10px;
            font-size: 0.9em;
        }
    }
    p{
        font-size: 0.8em;
        text-align: center;
    }
    
   .frid__a{
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        height: 70px;
        width: 80%;
        background-color: map-get($map: $colors, $key: primary);
        color: map-get($map: $colors, $key:tezt);
        font-size: 1.6em;
        border-radius:10px ;
        cursor: pointer;
        text-decoration: none;
    }
    .gift{
        z-index: -2;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

  /* Media Queries Iphone 6/7/8 Plus - NONE*/


 /* Media Queries Iphone 6/7/8 */

 @media (max-height: 700px){  
  ::placeholder {
    font-size: 1.1em;
  }
  
  .frid a {
    font-size: 2em;
    height: 50px;
    width: 80%;
  }
  
  .frid img {
    z-index: -2;
    position: absolute;
    bottom: 0;
    width: 80%;
  }
}


/* Media Queries Tablet */

@media (min-width: 600px){  
    .frid p {
      font-size: 1em;
      padding-top: 2%;
    }
  
    ::placeholder {
      font-size: 2em;
    }
    
    .frid a {
      font-size: 2em;
    }
    
    .frid .gift {
      z-index: -2;
      position: absolute;
      bottom: 0;
      width: 80%;
    }
  }




  /* Media Queries Desktop */
  @media (min-width: 1281px){
   .frid{
     display: grid;
     grid-template-columns: 1fr 1fr;

    grid-template-rows: 20% 35% 10% 35%;
   }
    .frid h2{
     padding-top: 15vh;
     grid-column: 1;
   }
   .frid .frid__input input, .frid .frid__a{
     width:50%;

     grid-column: 1;
   }
   .frid .frid__input, .frid p{
    grid-column: 1;
   }
    .frid .frid__bar{
      
      display: flex;
      position: absolute;
      width: 100%;
      border: solid 1px;
      height: 10vh;
      flex-direction: row;
      justify-content: space-between;
      background: map-get($map: $colors, $key: tezt);
    }
    .frid .frid__bar .bar__left{
      
      display: flex;
    }

    .frid .frid__bar h3{
      font-size: 3em;
      display: flex;
      align-items: center;
      padding-left: 1vw;
    }
    
.frid .frid__bar img{
  height: 10vh;
}

.frid .bar__a{  
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right:1vw ;
}
.frid .gaver3{
max-height: 760px;
max-width: 1200px;
left: 45%;
z-index: -2;
    position: absolute;
    bottom: 0;
    width: 80%;
}
.frid .julbr{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.frid .gift{
  display: none;
}
.frid .gaver3{
  display: block;
}

}

