/* basic color scheme*/
/* class til body element*/
.frank {
  background-color: #f3f3f3;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.frank nav {
  border: solid 1px;
  position: fixed;
  bottom: 0;
  height: 7vh;
  width: 100%;
  font-size: 3em;
  background: rgba(0, 0, 0, 0.438);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.699);
          box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.699);
}

.frank nav a {
  color: #f3f3f3;
}

.frank h2 {
  font-size: 1.6em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
}

.frank .john {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  -ms-grid-column-align: start;
      justify-self: start;
  text-align: start;
  padding-left: 10vw;
  font-size: 1.6em;
}

.frank .john p {
  margin: 0;
  font-size: 1em;
}

.frank .john a {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

.frank .john #john__open {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 50px;
  color: #F42929;
  cursor: pointer;
}

.frank .frank__hr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.frank .frank__hr img {
  width: 70%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.frank .frank__hr hr {
  border: none;
  background-color: black;
  height: 1px;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.frank .ashlog {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-size: 1.6em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  width: 100%;
  margin-bottom: 7vh;
}

.frank .ashlog section {
  border-radius: 50%;
  background-color: white;
  border: black solid 1px;
  height: 10vw;
  width: 10vw;
  text-align: start;
}

.frank #modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.frank .modal__content {
  width: 300px;
  height: 480px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  position: relative;
}

.frank .modal__content h3 {
  padding-bottom: 5%;
  padding-top: 10%;
  font-size: 1.5em;
}

.frank .modal__content .modal__content__img {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  grid-gap: 3vh;
}

.frank .modal__content button {
  width: 70%;
  height: 11%;
  background-color: #F42929;
  border-radius: 7px;
  font-size: 1.3em;
  margin-top: 10%;
}

.frank #modal__content__close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=seddel.css.map */

@media (min-width: 600px) {
  .frank nav a {
    padding-top: 1.5%;
  }
  
  .frank h2 {
    font-size: 2.5em;
  }
  
  .frank .john {
    padding-top: 3vh;
    padding-bottom: 3vh;
    grid-gap: 4vh;
    font-size: 2.2em;
  }
  
  .frank .john #john__open {
    font-size: 75px;
  }
  
  .frank .ashlog {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    font-size: 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 75%;
        grid-template-columns: 25% 75%;
    width: 100%;
    margin-bottom: 7vh;
    margin-left: 7vh;
  }
  
  .frank #modal {
    width: 110%;
  }

  .frank .modal__content {
    width: 500px;
    height: 700px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    position: relative;
  }
  
  .frank .modal__content h3 {
    padding-bottom: 5%;
    padding-top: 10%;
    font-size: 2.5em;
  }
  
  .img__facebook {
    width: 140%;
  }

  .img__mail {
    width: 110%;
  }

  .img__sms {
    width: 140%;
  }

  
  .frank .modal__content button {
    font-size: 2em;
  }
  
  .frank #modal__content__close {
    font-size: 75px;
  }
}