/* basic color scheme*/
$colors: (
    primary: #F42929,
    secondary: #3C4BFF,
    neutral: #f3f3f3,
    tezt:rgb(255, 255, 255),
);
/* class til body element*/
.frank{
background-color: map-get($colors, neutral);
height: 100vh;
width: 100vw;
margin: 0;
.frank__bar{
  display: none;
}
nav{
  border: solid 1px;
  position: fixed;
  bottom: 0;
  height: 7vh;
  width: 100%;
  font-size: 3em;
  background: rgba(0, 0, 0, 0.438);
  display: flex;
  justify-content: space-around;
  a{
      color: map-get($map: $colors, $key: neutral);
      font-size: 0.9em;
  }

}
h2{
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}

    .john{
        display: grid;
        grid-template-columns: 4fr 1fr;
        justify-self: start;
        text-align: start;
        padding-left: 10vw;
        font-size: 1.6em;
p{
    margin: 0;
}
        a {
            grid-column: 1;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
        }

        #john__open {
            grid-column: 2;
            align-self: center;
            font-size: 50px;
            color: map-get($colors, primary);
            cursor: pointer;
        }
    }
    .frank__hr {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;

    img {
        width: 70%;
        justify-self: center;
        
    }

    hr{
            border: none;
            background-color: black;
            height: 1px;
            width: 100%;
            align-self: center;
        }
        }
        
    
    .ashlog{
        grid-column: 1/4; 
        font-size: 1.6em;
        display: grid;
        grid-template-columns: 25% 75%;
        width: 100%;
        margin-bottom: 7vh;
   
        section{
            border-radius: 50%;
            background-color: map-get($map: $colors, $key: neutral );
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: center;
            align-self: center;
            border: black solid 1px;
            height: 10vw;
            width: 10vw;
            text-align: start;
            max-width: 60px;
            max-height: 60px;
            }
        }
    
#modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal__content {
    width: 300px;
    height: 480px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    position: relative;

    h3 {
        padding-bottom: 5%;
        padding-top: 10%;
        font-size: 1.5em;
    }

    .modal__content__img {
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-gap: 3vh;
    }

    button {
        width: 70%;
        height: 11%;
        background-color: map-get($colors, primary);
        color: map-get($map: $colors, $key: tezt);
        border-radius: 7px;
        font-size: 1.3em;
        margin-top: 10%;

    }
}

#modal__content__close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
}

}


@media (min-width: 600px) {
    .frank nav a {
      padding-top: 1.5%;
    }
    
    .frank h2 {
      font-size: 2.5em;
    }
    
    .frank .john {
      padding-top: 3vh;
      padding-bottom: 3vh;
      grid-gap: 4vh;
      font-size: 2.2em;
    }
    
    .frank .john #john__open {
      font-size: 75px;
    }
    
    .frank .ashlog {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-column: 1/4;
      font-size: 2em;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 25% 75%;
          grid-template-columns: 25% 75%;
      width: 100%;
      margin-bottom: 7vh;
      margin-left: 7vh;
    }
    
    .frank #modal {
      position: absolute;
      width: 100vw;
      height: 100vh;
    }
  
    .frank .modal__content {
      width: 500px;
      height: 700px;
      background-color: white;
      border-radius: 4px;
      text-align: center;
      position: relative;
    }
    
    .frank .modal__content h3 {
      padding-bottom: 5%;
      padding-top: 10%;
      font-size: 2.5em;
    }
    
    .img__facebook {
      width: 140%;
    }
  
    .img__mail {
      width: 110%;
    }
  
    .img__sms {
      width: 140%;
    }
  
    
    .frank .modal__content button {
      font-size: 2em;
    }
    
    .frank #modal__content__close {
      font-size: 75px;
    }
  }

  @media (min-width: 1281px){
.frank .frank__bar{
  display: flex;
}
.frank nav{
  display: none;
}
.frank{
  display: grid;
  grid-template-columns:  1fr 10% 1fr;
  overflow: hidden;
}
.frank__bar{
 grid-column: 1/4;
 grid-row: 1;
  display: flex;
 border: solid 1px;
 width: 100%;
 height: 10vh;
 background: map-get($map: $colors, $key:tezt );
 justify-content: space-between;
}
  .frank .frank__bar .bar__left{
    display: flex;
    padding-left: 1vw;
    align-items: center;
  }
  .frank .frank__bar img{
    height: 10vh;
  }
  .frank .frank__bar .logud{
    font-size: 2em;
    display: flex;
    align-items: center;
    padding-right: 1vw;
  }
 .frank .frank__bar .bar__center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
.frank .frank__bar .bar__center a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh; 
    width: 30%;
    font-size: 2em;
    color: map-get($map: $colors, $key: tezt);
    text-decoration: none;
  }
  .frank .frank__bar .bar__center .make,
  .frank .frank__bar .bar__center .sell {
    background: map-get($map: $colors, $key: secondary);
  }
  .frank .frank__bar .bar__center .se{
    background: map-get($map: $colors, $key: primary);
  }
  .frank .frank__hr{
    grid-column: 2/3;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .frank .frank__hr hr{
  width: 1.11111111px;
  height: 100%;
  }
.frank .john, .frank{
  grid-column: 1;
  grid-row: 3;
}
.frank .ashlog{
  grid-column: 3;
}
.frank .modal__content{
justify-content:center;
align-content:center ;
}
  }