/* basic color scheme*/
$colors: (
    primary: #F42929,
    secondary: #3C4BFF,
    neutral: #f3f3f3,
    tezt:rgb(255, 255, 255),
);
/* class til body element*/
.frank{
background-color: map-get($colors, neutral);
height: 100vh;
width: 100vw;
margin: 0;
nav{
    border: solid 1px;
    position: fixed;
    bottom: 0;
    height: 7vh;
    width: 100%;
    font-size: 3em;
    background: rgba(0, 0, 0, 0.438);
    display: flex;
    justify-content: space-around;
    a{
        color: map-get($map: $colors, $key: neutral);
        font-size: 0.9em;
    }

}
h2{
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}

    .john{
        display: grid;
        grid-template-columns: 4fr 1fr;
        justify-self: start;
        text-align: start;
        padding-left: 10vw;
        font-size: 1.6em;
p{
    margin: 0;
}
        a {
            grid-column: 1;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
        }

        #john__open {
            grid-column: 2;
            align-self: center;
            font-size: 50px;
            color: map-get($colors, primary);
            cursor: pointer;
        }
    }
    .frank__hr {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;

    img {
        width: 70%;
        justify-self: center;
        
    }

    hr{
            border: none;
            background-color: black;
            height: 1px;
            width: 100%;
            align-self: center;
        }
        }
        
    
    .ashlog{
        grid-column: 1/4; 
        font-size: 1.6em;
        display: grid;
        grid-template-columns: 25% 75%;
        width: 100%;
        margin-bottom: 7vh;
   
        section{
            border-radius: 50%;
            background-color: map-get($map: $colors, $key: neutral );
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: center;
            align-self: center;
            border: black solid 1px;
            height: 10vw;
            width: 10vw;
            text-align: start;
            }
        }
    
#modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal__content {
    width: 300px;
    height: 480px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    position: relative;

    h3 {
        padding-bottom: 5%;
        padding-top: 10%;
        font-size: 1.5em;
    }

    .modal__content__img {
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-gap: 3vh;
    }

    button {
        width: 70%;
        height: 11%;
        background-color: map-get($colors, primary);
        border-radius: 7px;
        font-size: 1.3em;
        margin-top: 10%;

    }
}

#modal__content__close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
}

}


